<main>
  <div [ngSwitch]="userRole">
    <p *ngSwitchCase="role.Admin">Welcome, Admin!</p>
    <p *ngSwitchCase="role.Editor">Welcome, Editor!</p>
    <p *ngSwitchDefault>Welcome, Viewer!</p>
  </div>

  <!-- @switch (userRole) { @case (role.Admin) {
  <p>Welcome, Admin!</p>
  } @case (role.Editor) {
  <p>Welcome, Editor!</p>
  } @default {
  <p>Welcome, Viewer!</p>
  } } -->

  <p>contact works!</p>
  <!-- <p>{{ contactInfo }}</p> -->

  <p>{{ contactInfo.name }}</p>
  <p>{{ contactInfo.phone }}</p>
  <p>{{ contactInfo.address }}</p>

  <!-- FORMS -->
  <!-- Template driven form -->
  <p>Template Driven Form</p>
  <form #singUpForm="ngForm" (ngSubmit)="onSubmit(singUpForm)">
    <!-- First Name -->
    <div>
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" ngModel required minlength="3" />
      <div
        *ngIf="
          singUpForm.controls['firstname']?.invalid &&
          singUpForm.controls['firstname']?.touched
        "
      >
        <span *ngIf="singUpForm.controls['firstname']?.errors?.['required']"
          >First Name is required.</span
        >
        <span *ngIf="singUpForm.controls['firstname']?.errors?.['minlength']"
          >First Name must be at least 3 characters long.</span
        >
      </div>
    </div>

    <!-- Last Name -->
    <div>
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" ngModel required minlength="3" />
      <div
        *ngIf="
          singUpForm.controls['lastname']?.invalid &&
          singUpForm.controls['lastname']?.touched
        "
      >
        <span *ngIf="singUpForm.controls['lastname']?.errors?.['required']"
          >Last Name is required.</span
        >
        <span *ngIf="singUpForm.controls['lastname']?.errors?.['minlength']"
          >Last Name must be at least 3 characters long.</span
        >
      </div>
    </div>

    <!-- Email -->
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" ngModel required email />
      <div
        *ngIf="
          singUpForm.controls['email']?.invalid &&
          singUpForm.controls['email']?.touched
        "
      >
        <span *ngIf="singUpForm.controls['email']?.errors?.['required']"
          >Email is required.</span
        >
        <span *ngIf="singUpForm.controls['email']?.errors?.['email']"
          >Please enter a valid email.</span
        >
      </div>
    </div>

    <!-- Gender -->
    <div>
      <label for="gender">Gender</label>
      <input type="radio" value="male" name="gender" ngModel required /> Male
      <input type="radio" value="female" name="gender" ngModel required />
      Female
      <div
        *ngIf="
          singUpForm.controls['gender']?.invalid &&
          singUpForm.controls['gender']?.touched
        "
      >
        <span *ngIf="singUpForm.controls['gender']?.errors?.['required']"
          >Gender is required.</span
        >
      </div>
    </div>

    <!-- Married -->
    <div>
      <label for="isMarried">Married</label>
      <input type="checkbox" name="isMarried" ngModel [ngModel]="false" />
    </div>

    <!-- Country -->
    <div>
      <label for="country">Country</label>
      <select name="country" ngModel required>
        <option [ngValue]="c.id" *ngFor="let c of countryList">
          {{ c.name }}
        </option>
      </select>
      <div
        *ngIf="
          singUpForm.controls['country']?.invalid &&
          singUpForm.controls['country']?.touched
        "
      >
        <span *ngIf="singUpForm.controls['country']?.errors?.['required']"
          >Country is required.</span
        >
      </div>
    </div>

    <!-- Submit Button -->
    <div>
      <button type="submit" [disabled]="singUpForm.invalid">Submit</button>
    </div>
  </form>
</main>
