<main>
  <app-parent></app-parent>

  <div class="post-form">
    <textarea
      class="form-control"
      placeholder="What's on your mind?"
      #post
    ></textarea>
    <button (click)="postNewsfeed(post)" class="btn btn-primary post-btn">
      Post
    </button>
  </div>
  @for(item of newsfeeds;track item){
  <div class="newsfeed-box">
    <div class="newsfeed">
      <a [routerLink]="['/profile', item.username]"
        ><img class="newsfeed-img" [src]="item.profilePicture"
      /></a>
      <div class="newsfeed-info">
        <p [appHighlight]="'lightblue'">{{ item.content }}</p>
        <p>{{ item.postedOn | date }}</p>
        <p>
          <button (click)="toggleLike(item.id)">
            {{ item.isLiked ? "Unlike" : ("Like" | uppercase) }} ({{
              item.likesCount
            }})
          </button>
        </p>
      </div>
    </div>
    <div>
      <textarea #commentInput placeholder="Add a comment..."></textarea>
      <button
        (click)="
          addComment(item.id, commentInput.value); commentInput.value = ''
        "
      >
        Comment
      </button>
    </div>

    <div class="comments">
      <p *ngFor="let comment of item.comments">
        {{ comment.text }} - {{ comment.createdAt | date : "short" }}
      </p>
    </div>
  </div>

  }
  <p>isActive: {{ isActive }}</p>
  <p [ngClass]="{ active: isActive, disabled: !isActive }">Styled Text</p>
  <p [ngStyle]="{ color: isActive ? 'green' : 'red' }">Dynamic Color</p>
  <button (click)="toggleIsActive()">Change</button>

  <br />
</main>
